body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}
